doctype html
html(lang="en")
	head
		title Web Page 二
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
		link(rel="stylesheet", href="styles.css")
		link(rel="shortcut icon", href="favicon.ico")
	
	body
	
		.container
			header.row
				.col-md-4.text-center
					img(src="avatar.png", alt="avatar", height="200", width="200").img-circle.rotating
					h2: .glyphicon.glyphicon-console  和平:二
					
				.col-md-8.ul
					li 
						h4: a(href="#"): .glyphicon.glyphicon-headphones  listening to
						p Nam nec elementum sem. Duis sit amet ullamcorper lacus, eu ullamcorper diam. Duis pellentesque facilisis odio.
					li
						h4: a(href="#"): .glyphicon.glyphicon-book  reading
						p Nam nec elementum sem. Duis sit amet ullamcorper lacus, eu ullamcorper diam. Duis pellentesque facilisis odio.
					li
						h4: a(href="#"): .glyphicon.glyphicon-knight  playing vidya
						p Nam nec elementum sem. Duis sit amet ullamcorper lacus, eu ullamcorper diam. Duis pellentesque facilisis odio.
					li
						h4: a(href="#"): .glyphicon.glyphicon-tree-deciduous  planting trees
						p Nam nec elementum sem. Duis sit amet ullamcorper lacus, eu ullamcorper diam. Duis pellentesque facilisis odio.
				
			nav.row
				.col-sm-12.list-inline.text-center
						li.circle-link-to.rotating
							h2: a(href="#"): .glyphicon.glyphicon-picture
						li.circle-link-to.rotating
							h2: a(href="#"): .glyphicon.glyphicon-pencil
						li.circle-link-to.rotating
							h2: a(href="#"): .glyphicon.glyphicon-console
					
					